.outer-container{
    margin:auto;
    width:428px;
    height:850px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.image{
    margin-top: 60px;
    width:198px;
    height:198px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    
}
.passage{
    font-size: 14px;
    text-align: center;
    letter-spacing: 0px;
     color: #1A1A1A;

}

.login-container{
    display:flex;
flex-direction: row;
width:100%;
margin-top:3.8rem;
justify-content: space-around;
}
.login{
    width:45%;
    font-size: 15px;
    text-align: center;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
}

.focus-login {
    border-bottom: 2.2px solid #E70B89;
    font-weight: 600;
    width:45%;
    font-size: 15px;
    text-align: center;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
}

.signup{
    width:45%;
    font-size: 15px;
    text-align: center;

}

.focus-signup{
    width:45%;
    font-size: 15px;
    text-align: center;
    border-bottom: 2.2px solid #E70B89;
    font-weight: 600;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
}

.login-form{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.box-styling{
    width:68%;
   
    margin:auto;
    border-radius: 1.8rem;
    margin-top:1.3rem;
    border:1px solid #1A1A1A;
    fill:none;
}
     .abc:active {
        background: transparent;
        fill:none;


}
.submit{
    color:white;
    background-color:#E70B89 ;
    border:none;
    margin-top:2rem;
    font-weight: 600;
    
}
.circle{
    border-radius: 50px;
    border: 1px solid #E6E6E6;
    width:2.8rem;
    height: 2.8rem;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.7rem;
    margin-left: 0.7rem;
}
.img-icon{
height:24px;
}
.icons-image-box{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.create-acnt-box{
    display:flex;
    justify-content:center ;
}
.terms-box{
    display:flex;
    justify-content:center;
    margin:20px;
}
.create-act{
    font-size:12px ;
}
.terms{
    font-size: 12px;
}
.psw-box{
    width: 69%;
    display:flex;
    justify-content: end;
    margin-top: 10px;

}
.psw{
    font-size: 14px;
    color: #E70B89;
}
.text-box{
    display: flex;
    justify-content: center;
}
.text{
    font-size: 11px;
    color:#9D9D9D
    
}

